<div id="reload">
    <img src="{{ STATIC_URL }}images/backgroundimage.jpg">
        
        
        <div class="container_content">
            
            <table id="myTable">
                    <td class="boxed" id="index"><img src="{{ STATIC_URL }}images/buttonHOME.png" onmouseover="this.src='{{ STATIC_URL}}images/buttonHOMEhover.png'"onmouseout="this.src='{{ STATIC_URL }}images/buttonHOME.png'"/></td>
                    <td class="boxed" id="propaganda"><img src="{{ STATIC_URL }}images/buttonLEGEND.png"/></td>
                    <td class="boxed" id="faq"><img src="{{ STATIC_URL }}images/buttonSCROLL.png"/></td>
                    <td>
                        <br><br>
                        <div class="sub_head">   O WEEK<br>   IS<br>  COMING ...</div>
                        <br><br><br><br>
                        <iframe src="http://free.timeanddate.com/countdown/i3ozcnz0/n165/cf11/cm0/cu4/ct1/cs0/ca0/co0/cr0/ss0/cacfff/cpc000/pct/tcfff/fs100/szw448/szh189/iso2013-08-29T17:00:00" frameborder="0" width="153" height="28"></iframe>
                        
                    </td>
                    <td class="boxed" id="sponsors">Sponsors</td>
                    <td class="boxed" id="houses"><img src="{{ STATIC_URL }}images/buttonHOUSES.png"/></td>
                    <td class="boxed" id="register"><img src="{{ STATIC_URL }}images/buttonREGISTER.png"/></td>
                </tr>
            </table>
            
        </div>
        <div class="container_content2" id="main">
            
            
            <div class="box1">
                <div id="hidden1"><img src="{{ STATIC_URL }}images/mapDAY1flyout.png"/></div>
            </div>
            
            <div class="box2">
                <div id="hidden2"><img src="{{ STATIC_URL }}images/mapDAY2flyout.png"/></div>
            </div>
            
            <div class="box3">
                <div id="hidden3"><img src="{{ STATIC_URL }}images/mapDAY3flyout.png"/></div>
            </div>
            
            <div class="box4">
                <div id="hidden4"><img src="{{ STATIC_URL }}images/mapDAY4flyout.png"/></div>
            </div>
            
            
            <div class="exit">
                
            </div>
            
        </div>
        </div>
        
        
        
</div>